#channels-graph {

    margin-bottom: 70px;

    .graph-header {
        text-align: center;

    }

    #channels-line-graph {
        width: 800px !important;
        margin: 0 auto;

        #channelsGraph {
            width: 400px;
        }
    }
}
