#channels-graph {
    // margin-bottom: 70px;

    .channels-graph-jumbotron {
        width: 900px;
        margin: 40px auto;
        border-radius: 15px;

        #channel-filter-label {
            text-align: center;
        }

        #channel-filter-buttons {
            text-align: center;
            //margin: 0 auto;
        }

        .graph-header {
            text-align: center;

        }

        #recordsError {
            text-align: center;
            color: red;
        }

        #channels-line-graph {
            width: 800px !important;
            margin: 0 auto;

            #channelsGraph {
                width: 400px;
            }
        }
    }
}
