<div ng-controller="ChannelsGraphController as channelsgraph" id="channels-graph" >
    <div class="jumbotron channels-graph-jumbotron">
        <div id="channel-filter-label">
            <h1>Filter Channel Data By: </h1>
        </div>
        <div class="graph-header">
            <h2>The {{channelsgraph.time}}</h2>
        </div>
        <div id="channel-filter-buttons">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="channelsgraph.filterGraphByTime('minute')">Minute</button>
                <button type="button" class="btn btn-default" ng-click="channelsgraph.filterGraphByTime('hour')">Hour</button>
                <button type="button" class="btn btn-default" ng-click="channelsgraph.filterGraphByTime('day')">Day</button>
            </div>
        </div>
        <div class="data-error" ng-show="channelsgraph.notEnoughRecords">
            <h2>ERROR: Not enough entries</h2>
            <h2>to render graph.</h2>
        </div>
        <div id="channels-line-graph" ng-show="channelsgraph.showGraph">
            <canvas id="channelsGraph" width="400" height="400" ng-show="channelsgraph.timeGraphToggler = 'minutes'"></canvas>
        </div>
    </div>
</div>
