.toggle-buttons {
    text-align: center;
    margin: 20px 0;
}

.averages-jumbotron {
    width: 1400px;
    height: auto;
    margin: 40px auto;
    // padding: 50px;
    border-radius: 15px;

    .row {
        text-align: center !important;
    }

    #firstQuarterAverages {
        width: 95%;
        height: auto;
    }

    #secondQuarterAverages {
        width: 400px;
        margin: 0 auto;
    }
}
