#main {

      #stats {
            width: 80%;
            background-color: yellow;
            margin: 0 auto;
            font-size: 30px;
            text-align: right;

            .row {
                  height: 70px;

                  #stat-date {
                        font-size: 30px;
                  }
            }
      }
}
