#stats {

    width: 1200px;
    margin: 0 auto;
    font-size: 30px;
    text-align: right;

      .row {
            height: 70px;

            #stat-date {
                  font-size: 30px;
            }
      }

      .jumbotron {
          border-radius: 15px;
          margin-bottom: 0px !important;

          #stats-header {
              text-align: center;
              font-size: 40px;
              margin-top: 0 !important;
          }

          #stat-channel-count {
              text-align: right;
          }

          #stat-viewer-count {
              text-align: right;
          }

          h2 {
              font-weight: bold;
              padding: 0 !important;
              margin: 7px 0 0 0 !important;
          }

          p {
              margin: 0 !important;
          }
    }
}
