#stats {

    width: 800px;
    margin: 0 auto;
    font-size: 30px;
    text-align: right;

      .row {
            height: 70px;

            #stat-date {
                  font-size: 30px;
            }
      }

      .stats-jumbotron {
          border-radius: 15px;
          margin-bottom: 0px !important;

          #stat-channel-count {
              text-align: right;
          }

          #stat-viewer-count {
              text-align: right;
          }
      }
}
