<div ng-controller="AverageViewerGraphsController as averageviewergraphs">
    <div class="jumbotron averages-jumbotron">
        <div class="row">
            <h1>Viewer Averages by Hour</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>12:00 AM - 5:00 AM Viewer Averages</h3>
            </div>
            <div class="col-md-6">
                <h3>6:00 AM - 11:00 AM Viewer Averages</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <canvas id="firstQuarterViewerAverages" width="400" height="400"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="secondQuarterViewerAverages" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>12:00 PM - 5:00 PM Viewer Averages</h3>
            </div>
            <div class="col-md-6">
                <h3>6:00 PM - 11:00 PM Viewer Averages</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <canvas id="thirdQuarterViewerAverages" width="400" height="400"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="fourthQuarterViewerAverages" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>
