.averages-jumbotron {
    width: 1400px;
    height: auto;
    margin: 40px auto;
    // padding: 50px;
    border-radius: 15px;

    .row {
        text-align: center !important;
    }

    #firstQuarterViewerAverages {
        width: 95%;
        height: auto;
    }

    #secondQuarterViewerAverages {
        width: 400px;
        margin: 0 auto;
    }
}
