#viewers-graph {

    .graph-header {
        text-align: center;
    }

    #viewers-line-graph {
        width: 800px !important;
        margin: 0 auto;

        #viewersGraph {
            width: 400px;
        }
    }
}
